#title {
    color: black;
}

body {
    background: #1d3459;
    background: -moz-linear-gradient(-45deg, #1d3459 0%, #29508e 100%);
    background: -webkit-linear-gradient(-45deg, #1d3459 0%, #29508e 100%);
    background: linear-gradient(135deg, #1d3459 0%, #29508e 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    background-repeat: no-repeat;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
    width: 96vw;
    height: 93vh;
}

#div-title {
    background-color: white;
    width: 98vw;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.statbox {
    background-color: white;
    width: 96vw;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
    text-align: center;
}

#username {
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
}

#input-name {
    width: 30vw;
    height: 10vh;
    background-color: inherit;
    border: none;
    border: 2px solid black;
    font-size: 2rem;
    font-weight: lighter;
    background: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 10px;
}

form {
    width: 34vw;
    height: 20vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

#input-name:focus {
    outline: none;
}

#submit-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20vw;
    height: 5vh;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 5vh;
    position: absolute;
    border-radius: 20px;
}

#submit-button:focus {
    outline: none;
}

#submit-button:hover {
    background-color: #eee;
}

#back-button {
    width: 6vw;
    height: 6vh;
    font-size: 4rem;
    margin: auto;
    bottom: 12vh;
    position: relative;
    float: right;
    border: none;
    font-weight: bolder;
    margin-right: 30px;
    background-color: transparent;
}

#back-button a {
    text-decoration: none;
}

#back-button:focus {
    outline: none;
}

#back-button:hover {
    font-size: 4.2rem;
}

footer {
    width: 100vw;
    height: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    position: absolute;
}

footer p {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    padding: 0;
    position: absolute;
}

.dropdown {
    width: 500px;
    height: auto;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 0px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 1vh;
}

.dropdown-body {
    display: none;
    background-color: white;
    border: 2px solid black;
    height: 1px;
    width: 99%;
    left: 10;
    right: 0;
    margin: auto;
    color: transparent;
}

.dropdown-header a::before {
    box-sizing: border-box;
    color: #222;
    content: attr(data-elem);
    float: right;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.416667px;
    line-height: 22px;
    text-align: right;
    width: 25px;
    padding-right: 5vw;
    padding-left: 0;
}

.dropdown-header a {
    box-sizing: border-box;
    display: block;
    letter-spacing: 0.416667px;
    line-height: 22px;
    text-align: left;
    padding-left: 3vw;
    padding-right: 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
}

.dropdown-header a:focus {
    outline: none;
}

.kits {
    line-height: 1.2rem;
}

.kits p {
    margin-top: 1vh;
}

@media screen and (max-width: 605px) {
    #title {
        font-size: 1.3rem;
    }
    form {
        width: 100vw;
    }
    #input-name {
        width: 80vw;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    #submit-button {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: 20vh;
        width: 40vw;
    }
}
@media screen and (max-width: 575px) {
        #div-title a {
            display: none;
        }
}
@media screen and (max-width: 800px) {
    form {
        width: 100vw;
    }
    #input-name {
        width: 60vw;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    #submit-button {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: 20vh;
        width: 30vw;
    }
}